<div class="calc_container">
  <div class="calc_title">
    <span>Calculator</span>
    <span class="by">by Teplyi Yaroslav</span>
  </div>
  <div class="calculator_container">
    <form [formGroup]="calcForm" autocomplete="off" class="form_container">

      <mat-form-field appearance="outline" class="right">
        <mat-label>left</mat-label>
        <input matInput formControlName="lo" type="text" numbersOnly>
      </mat-form-field>

      <div *ngIf="operators?.length">
        <mat-form-field appearance="outline" class="op">
          <mat-label>operation</mat-label>
          <mat-select [(ngModel)]="operator" name="op" [ngModelOptions]="{standalone: true}">
            <mat-option *ngFor="let op of operators" [value]="op">
              {{op}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <mat-form-field appearance="outline"  class="left">
        <mat-label>right</mat-label>
        <input matInput formControlName="ro" type="text" numbersOnly>
      </mat-form-field>

      <button mat-raised-button class="calc_btn" (click)="calculate()">Calculate</button>
    </form>
  </div>
  <div *ngIf="calculationLog?.length > 0">
    <div class="log_container">
      <div class="log_title">
        Calculation history
      </div>
      <div class="log">
        <div *ngFor="let log of calculationLog" class="l">
          {{log.right}} {{log.op}} {{log.left}} = {{log.result}} 
        </div>
      </div>
    </div>
  </div>
</div>