@import url('https://fonts.googleapis.com/css2?family=Bad+Script&family=Marck+Script&display=swap');

.calc_title {
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    font-size: 3.5rem;
    font-weight: 600;

    padding: 5% 0;
}

.by {
    font-family: 'Bad Script';
    font-size: 1.2rem;
}

.calculator_container {
    display: flex;
    justify-content: center;
}

.form_container {
    display: flex;
    flex-wrap: wrap;

    justify-content: center;
}

.right, .op {
    margin-right: 15px;
}

.calc_btn {
    flex-basis: 100%;

    justify-self: end;

    max-width: 150px;
    height: 50px;
}

.log_container {
    display: flex;
    flex-direction: column;

    align-items: center;

    margin-bottom: 30px;
}

.log_title {
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 2.5rem;
    font-weight: 600;
    text-decoration: underline;

    padding: 2% 0;
}

.log {
    display: flex;
    flex-direction: column;

    align-items: center;

    font-size: 1.5rem;
}

.l {
    margin-bottom: 5px;
}